footer {
    background-color: var(--primary-green);
    width: 100%;
    height: 300px;
}


.footer-contents {
    max-width: 884px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

@media screen and (max-width: 600px) {
    .footer-contents {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer {
        background-color: var(--primary-green);
        width: 100%;
        height: 800px;
    }

    .footer-socials {
        padding-bottom: 20px;
    }
    .footer-contents {
        margin-left: 1rem;
    }
}

.footer-logo {
    height: 200px;
    padding-top: 30px;

}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.footer-navlinks {
    padding: 0px;
    margin: 0px;
}

.footer-navlinks > ul > .nav__item > a {
    color: var(--secondary-off-white);
    font: var(--paragraph-text-font);
}

.footer-navlinks > ul > .nav__item > a:hover {
    color: var(--primary-yellow);
}
.footer-nav {
    padding-top: 20px;
    color: var(--secondary-off-white);
    font: var(--paragraph-text-font);
}

.footer-info {
    padding-top: 20px;
    color: var(--secondary-off-white);
    font: var(--paragraph-text-font);
}

.footer-socials {
    padding-top: 20px;
    color: var(--secondary-off-white);
    font: var(--paragraph-text-font);
}