nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.nav__title {
height:50px;
line-height:50px;
display:flex;
gap: 20px;
align-items:center;
}

.nav__logo {
color: var(--first-color);
transition: color 0.4s;
font-size: var(--h2-font-size);
font-family: var(--second-font);
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 70%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
    }
}

@media screen and (max-width: 950px) {
    .nav__menu {
    padding: 4rem 1rem 2rem;
    z-index: 999;
    }

    .nav__list {
    row-gap: 1rem;
    }

    .nav__link,
    .nav__cta {
    font-size: var(--smaller-font-size);
    }

    .nav__cta {
    padding: 8px 16px;
    font-size: 12px;
    margin-top: 1rem;
    width: auto;
    white-space: nowrap;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    font: var(--section-categories-font);
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    right: 0;
    border: 1px solid black;
}
.nav__listt {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav__menu_mobile {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
}

@media screen and (min-width: 950px) {
    .nav {
    height: calc(var(--header-height) + 1rem);
    }
    .nav__toggle,
    .nav__close {
    display: none;
    }

    .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
    }
}